configparser==3.5.0
gevent==1.1.2
greenlet==0.4.10
paramiko==2.0.2
You are using pip version 8.1.1, however version 8.1.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.